/*  font-family: 'Fredericka the Great', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Permanent Marker', sans-serif;   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DARK/LIGHT THEME */

html[theme=light] {
    --background: #535052;
    --sidebar-background :linear-gradient(90deg, rgba(243,240,242,1) 6%, rgba(243,240,242,0.2) 100%);
    --paragraphe-background :rgba(200,200,200,0.8);
    --section-background :rgba(200,200,200,0.8);
    --blend-mode : screen;
    --box-shadow-theme : 0 0 20px 11px rgba(223, 193, 46, 0.84);
    --container-bg: rgba(7, 3, 2, 0.75);
    --inverted-container-bg: rgba(255, 255, 255, 0.45);
    --container-shadow: 0 0 5px rgba(0, 0, 0, 0.55), 5px 0 15px rgba(0, 0, 0, 0.1);
    --font-color: #535052;
    --inverted-font-color: #F3F0F2;
}

html[theme=dark] {
    --background: #535052;
    --sidebar-background :linear-gradient(90deg, rgba(43, 40, 42,1) 6%, rgba(83, 80, 82,0.1) 100%);
    --paragraphe-background :rgba(63, 60, 62, 0.6);
    --section-background :rgba(63, 60, 62, 0.7);
    --blend-mode : multiply;
    --box-shadow-theme : 0 0 10px 11px rgba(105, 116, 118, 0.84);
    --container-bg: rgba(255, 255, 255, 0.75);
    --inverted-container-bg: rgba(7, 3, 2, 0.45);
    --container-shadow: 0 0 5px rgba(255, 255, 255, 0.25),
    5px 0 15px rgba(255, 255, 255, 0.1);
    --font-color: #F3F0F2;
    --inverted-font-color: #535052;
}

/* BODY */

html {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-blend-mode: var(--blend-mode);
    background-image: url("../img/background/main-background.jpg");
    background-color: var(--background);
    background-position: center top;
    background-size: 100vw;
    --trans-time-func: cubic-bezier(0.175, 0.885, 0.32, 1.075);
}

body {
    overflow: hidden;
}

/* DARK/LIGHT THEME BUTTON */

.toggle {
    grid-area: btn;
    place-self: center;
    position: relative;
    width: 35px;
    height: 35px;
}

.toggle input[type=checkbox] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.toggle input[type=checkbox]:checked + label {
    background: #363030;
    animation: rotate 400ms var(--trans-time-func);
    animation-delay: 250ms;
}
.toggle input[type=checkbox]:checked + label::after {
    background: var(--container-bg);
    transform: translate(35%, -30%);
    opacity: 1;
}

.toggle label.toggle-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms var(--trans-time-func);
    background: rgb(223, 212, 0);
    box-shadow: var(--box-shadow-theme);
    border: 1px solid #F3F0F2;
    overflow: hidden;
}

.toggle label.toggle-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: var(--container-bg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(72%, -72%);
    transition: all 250ms var(--trans-time-func);
    opacity: 0;
}

.toggle #text-for-checkbox {
    color: var(--font-color);
    width: 150px;
    position: relative;
    left: 60px;
    display: inline-block;
    text-transform: uppercase;
    top: 8px;
}

/* NAVIGATION */

.openMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 60px;
    cursor:pointer;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 8em;
    margin: 0 3%;
    color: var(--font-color);
    transition: 1s;
}

.openMenu span {
    position: relative;
    top: 29px;
    right: 50px;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    background: var(--sidebar-background);
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 80px;
}

.sideNav ul {
    list-style: none;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--font-color);
    letter-spacing: 4px;
    display: block;
    transition: 0.3s;
    font-weight: 200;
}

.sideNav a:hover {
    letter-spacing: 15px;
    transition: 0.5s;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    left: 1%;
    font-size: 6rem;
    margin: 20px 5px;
    font-family: 'Fredericka the Great', sans-serif;
}

.menu {
    margin: 80px auto;
    padding-left: 1%;
}

.socialmedia {
    position: absolute;
    bottom: 19%;
    left: 1%;
    padding-left: 10px;
}

.socialmedia .fa {
    padding-right: 20px;
    transition: 0.3s;
}

.socialmedia .fa:hover {
    padding-left: 10px;
    padding-right: 10px;
    left : 40px;
    transition: 1s;
}

#container {
    width: 260px;
    height: 160px;
    margin: auto;
    padding: 40px;
    position: absolute;
    left: 1%;
    bottom: 2%;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

/* FOOTER */

footer {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer p {
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 0.8rem;
    color: var(--font-color);
    text-shadow: 0 3px 15px rgba(243, 240, 242, 1);
}

/* PAGE D'ACCUEIL */

section {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

section .contenu {
    margin: 48vh auto 0 auto;
    transform: translateY(-50%);
}

section .contenu h1 {
    text-align: left;
    margin: 20px auto 0 3%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 5rem;
    font-weight: normal;
    color: var(--font-color);
    transition: 1s;
}

section .contenu p {
    background-color: var(--paragraphe-background);
    padding: 40px;
    text-align: right;
    letter-spacing: 1px;
    font-size: 1.3em;
    transition: 1s;
    color: var(--font-color);
}

section .contenu p img {
    float: right;
    width: 700px;
    position: relative;
    bottom: 280px;
    left: 70px;
    opacity: 90%;
}

/* ABOUT PAGE */

#about {
    width: 100vw;
    max-width: 2200px;
}

section .about-top {
    color: var(--font-color);
    width: 100%;
    height: 25vh;
    margin-top: 5vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1%;
    grid-template-areas:
            "about-tel about-name about-mail";
}

section .about-top #about-tel {
    grid-area: about-tel;
    font-size: 7em;
}

section .about-top #about-tel i {
    color: var(--font-color);
    opacity: 90%;
}

section .about-top #about-tel p {
    font-family: 'Fredericka the Great', sans-serif;
    text-shadow: 1px 1px 1px var(--font-color);
    font-size: 0.3em;
}

section .about-top #about-name {
    grid-area: about-name;
}

section .about-top #about-name h1 {
    margin-top: 30px;
    font-weight: 300;
    letter-spacing: 10px;
    font-size: 3.8em;
    text-transform: uppercase;
    background-color: var(--paragraphe-background);
    width: 100%;
}

section .about-top #about-name h3 {
    letter-spacing: 5px;
    font-size: 1.9em;
    font-weight: 300;
    text-transform: uppercase;
    background-color: var(--paragraphe-background);
    font-family: 'Fredericka the Great', sans-serif;
    opacity: 80%;
}

section .about-top #about-name p {
    opacity: 80%;
    margin-top: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.4em;
    text-shadow: 1px 1px 0 var(--font-color);
}

section .about-top #about-mail {
    grid-area: about-mail;
    font-size: 7em;
}

section .about-top #about-mail i {
    color: var(--font-color);
    opacity: 90%;
}

section .about-top #about-mail p {
    font-family: 'Fredericka the Great', sans-serif;
    text-shadow: 1px 1px 1px var(--font-color);
    font-size: 0.3em;
}

section .about-middle {
     color: var(--font-color);
     width: 550px;
     height: 210vh;
     margin-top: 5vh;
     text-align: center;
     transform: rotate(-90deg) translateX(-35vh) translateY(-5vw);
     transform-origin: top left;
     overflow-x: hidden;
     -ms-overlow-style: none;
     scrollbar-width: none;
 }

::-webkit-scrollbar {
    display: none;
}

section #scroll-down {
    position: fixed;
    text-transform: uppercase;
    top: 68vh;
    left: 1vw;
    color: var(--font-color);
    letter-spacing: 2px;
    opacity: 60%;
    z-index: 4;
    text-shadow: 1px 1px 1px var(--inverted-font-color);
    transition: 0.5s;
}

section #scroll-up {
    position: fixed;
    text-transform: uppercase;
    text-align: right;
    top: 68vh;
    right: -15vw;
    color: var(--font-color);;
    letter-spacing: 2px;
    opacity: 60%;
    z-index: 4;
    text-shadow: 1px 1px 1px var(--inverted-font-color);
    transition: 0.5s;
}

section .about-middle .horizontal {
    display: flex;
    flex-direction: row;
    width: 420vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow-y: hidden;
}

section .about-middle .horizontal .slide {
    width: 105vw;
    padding: 50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: var(--font-color);
    background-color: var(--section-background);
    position: relative;
    right: 5vh;
    top: 60vh;
}
section .about-middle .horizontal .slide h3 {
    display: block;
    margin: 15px;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 1.9em;
    color: var(--font-color);
    letter-spacing: 3px;
    text-transform: uppercase;
}

section .about-middle .horizontal .one p {
    margin: 0 20%;
    text-align: center;
    font-weight: 300;
}

section .about-middle .horizontal .two ul, section .about-middle .horizontal .four ul {
    list-style-type: none;
    margin: 30px 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    align-content: space-around;
}

section .about-middle .horizontal .two li, section .about-middle .horizontal .four li {
    flex: 0 0 auto;
    margin: 40px;
    width: 25%;
}

section .about-middle .horizontal .three ul {
    list-style-type: none;
    margin: 30px 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    align-content: space-around;
}

section .about-middle .horizontal .three ul li {
    flex: 0 0 auto;
    margin: 5px;
    width: 17%;
}

section .about-middle .horizontal .three ul li h6 {
    font-weight: 400;
    font-size: 1.2em;
}

section .about-middle .horizontal .three ul li p {
    font-weight: 200;
    font-size: 0.8em;
    margin-bottom: 25px;
}

section .about-middle .horizontal .three ul li p i {
    opacity: 80%;
    font-size: 0.8em;
}


section .about-middle .horizontal .two ul li h6 {
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
}

section .about-middle .horizontal .two ul li p {
    font-weight: 300;
    font-size: 0.9em;
}

section .about-middle .horizontal .four ul li {
    flex: 0 0 auto;
    margin: 5px;
    width: 35%;
}

section .about-middle .horizontal .four ul li h6 {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}

section .about-middle .horizontal .four ul li h6 span{
    font-weight: 300;
    font-size: 0.6em;
}

section .about-middle .horizontal .four ul li p {
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 25px;
}

section .about-bottom {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
            "languages main-about-img interest";
}

section .about-bottom #languages {
    grid-area: languages;
    position: relative;
    left: 20%;
}

section .about-bottom #languages ul li h6{
    font-weight: 400;
    font-size: 1.4em;
    text-transform: uppercase;
}

section .about-bottom div h3 {
    display: block;
    margin: 15px;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 1.9em;
    color: var(--font-color);
    letter-spacing: 3px;
    text-transform: uppercase;
}

section .about-bottom div ul {
    list-style-type: none;
    margin: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    align-content: space-around;
}

section .about-bottom div li {
    flex: 0 0 auto;
    margin: 25px;
    width: 35%;
    color: var(--font-color);
}

section .about-bottom #main-about-img {
    grid-area: main-about-img;
    height: 25vh;
}

section .about-bottom #main-about-img img {
    width: 20vw;
    position: absolute;
    bottom: 0;
    left: 40vw;
    opacity: 90%;
}

section .about-bottom #interest {
    grid-area: interest;
    position: relative;
    right: 20%;
}
section .about-bottom #interest ul li h6 {
    font-weight: 400;
    font-size: 1.4em;
    text-transform: uppercase;
}

/* CONTACT PAGE */

section .contenu form {
    background-color: var(--paragraphe-background);
    padding: 2% 5%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 0.9em;
    transition: 1s;
    color: #545452;
}
section .contenu form .warning {
    height: 25px;
    padding-left: 1em;
    color: var(--font-color);
}

section .contenu form img {
    position: absolute;
    bottom: 16vh;
    right: 1vw;
    width: 400px;
    opacity: 75%;
}

section .contenu form .grid-container {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10% 10%;
    grid-template-areas:
            "name name msg msg"
            "email email msg msg"
            "phone phone msg msg";
}

section .contenu form .grid-container .name {
    grid-area: name;
}

section .contenu form .grid-container .email {
    grid-area: email;
}

section .contenu form .grid-container .phone {
    grid-area: phone;
}

section .contenu form .grid-container .msg {
    grid-area: msg;
}

section .contenu form div input {
    padding: 8px;
    text-align: center;
    width: 100%;
    background-color: var(--inverted-font-color);
    color: var(--font-color);
    letter-spacing: 3px;
    border: none;
}

section .contenu form input {
    color: var(--font-color);
}

form div textarea {
    text-align: center;
    padding: 10px;
    width: 95%;
    height: 100%;
    background-color: var(--inverted-font-color);
    color: var(--font-color);
    letter-spacing: 3px;
    border: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

section .contenu form div input::placeholder {
    letter-spacing: 2px;
    opacity: 0.4;
}

section .contenu form div textarea::placeholder {
    letter-spacing: 2px;
    opacity: 0.4;
}

section .contenu form .btnenvoyer {
    display: block;
    position: relative;
    left: 40%;
    margin: 30px auto;
    padding: 15px;
    background-color: var(--font-color);
    opacity: 70%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    transition: 1s;
    color: var(--inverted-font-color);
}

section .contenu form .btnenvoyer:hover {
    background-color: var(--font-color);
    opacity: 90%;
    transition: 1s;
    cursor: pointer;
}

/* CONNECTION */

section .contenu #connect {
    width: 100%;
    background-color: var(--paragraphe-background);
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
}

section .contenu #connect input {
    margin: 40px 0 0 0;
}

small {
    color: var(--font-color);
    font-weight: 300;
}

section .contenu #connect button {
    display: flex;
    margin: 30px auto;
    padding: 15px;
    background-color: var(--font-color);
    opacity: 70%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    transition: 1s;
    color: var(--inverted-font-color);
}

section .contenu #connect button:hover {
    background-color: var(--font-color);
    opacity: 90%;
    transition: 1s;
    cursor: pointer;
}

/* ADMIN HOME */

section .contenu .links {
    background-color: var(--paragraphe-background);
    width: 100%;
    text-align: center;
    padding: 40px;
}

section .contenu .links h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3em;
    color: var(--font-color);
    margin-bottom: 20px;
}

section .contenu .links a {
    color: var(--font-color);
}

section .contenu .links button {
    padding: 10px;
    border: none;
    color: var(--font-color);
    background-color: var(--inverted-font-color);
    text-transform: uppercase;
    font-weight: 200;
    margin: 0 20px;
    opacity: 75%;
    letter-spacing: 5px;
    transition: 0.5s;
}

section .contenu .links button:hover {
    opacity: 100%;
    transition: 0.5s;
}

section .contenu .projects {
    background-color: var(--paragraphe-background);
    width: 100%;
    text-align: center;
    padding: 60px;
    margin-top : 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: start;
    max-height: 650px;
    overflow-y: scroll;
}

section .contenu .projects h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3em;
    color: var(--font-color);
    display: block;
    width: 100%;
    padding: 30px 30px 60px 30px;
}

section .contenu .projects .theEnd {
    display: block;
    width: 100%;
}

section .contenu .projects .theEnd p {
    background-color: rgba(0,0,0,0);
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color);
    font-weight: 200;
    letter-spacing: 10px;
}

section .contenu .projects .projectDisplay:first-of-type {
    background-color: rgba(0,0,0,0);
}

section .contenu .projects .projectDisplay {
    width: 28%;
    margin: 2%;
    flex: 0 0 auto;
    background-color: var(--inverted-font-color);
}

section .contenu .projects .projectDisplay button {
    padding: 10px;
    border: 1px solid var(--font-color);
    color: var(--font-color);
    background-color: var(--inverted-font-color);
    text-transform: uppercase;
    font-weight: 200;
    margin: 5% 10px;
    opacity: 75%;
    letter-spacing: 5px;
    transition: 0.5s;
}

section .contenu .projects .projectDisplay button:hover {
    opacity: 100%;
    transition: 0.5s;
}

section .contenu .projects .projectDisplay h4 {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 10px;
    color: var(--font-color);
}

section .contenu .projects .projectDisplay img {
    width: 80%;
    height: auto;
}

section .contenu .projects .projectDisplay p {
    background-color: var(--inverted-font-color);
    width: 100%;
    font-size: 0.7em;
    padding: 5px;
    text-align: center;
}

section .contenu .projects .projectDisplay a {
    color: var(--font-color);
    padding: 5px;
    font-size: 0.9em;
}

section .contenu .projects .projectDisplay h5 {
    color: var(--font-color);
    padding: 5px;
    font-size: 0.9em;
}

section .contenu .delete {
    color: var(--font-color);
    background-color: var(--inverted-font-color);
    height: 500px;
}

section .contenu .delete h3 {
    text-align: center;
    padding: 40px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 200;
}

section .contenu .delete img {
    width :20%;
    float: left;
    margin: 1% 7% 5% 10%;
}

section .contenu .delete p {
    width :100%;
    background-color: var(--inverted-font-color);
    text-align: justify;
    padding: 20px 50px 40px 0;
}

section .contenu .delete button {
    padding: 10px;
    border: 1px solid var(--font-color);
    color: var(--font-color);
    background-color: var(--inverted-font-color);
    text-transform: uppercase;
    font-weight: 200;
    margin: 5% 10px;
    opacity: 75%;
    letter-spacing: 5px;
    transition: 0.5s;
}

section .contenu .delete button:hover {
    opacity: 100%;
    transition: 0.5s;
}

