/*  font-family: 'Fredericka the Great', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Permanent Marker', sans-serif;   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DARK/LIGHT THEME */

html[theme=light] {
    --background: #535052;
    --sidebar-background :linear-gradient(90deg, rgba(243,240,242,1) 6%, rgba(243,240,242,0.2) 100%);
    --paragraphe-background :rgba(200,200,200,0.6);
    --section-background :rgba(200,200,200,0.9);
    --blend-mode : screen;
    --box-shadow-theme : 0 0 20px 11px rgba(223, 193, 46, 0.84);
    --container-bg: rgba(7, 3, 2, 0.75);
    --container-shadow: 0 0 5px rgba(0, 0, 0, 0.55), 5px 0 15px rgba(0, 0, 0, 0.1);
    --font-color: #535052;
    --inverted-font-color: #F3F0F2;
}

html[theme=dark] {
    --background: #535052;
    --sidebar-background :linear-gradient(90deg, rgba(43, 40, 42,1) 6%, rgba(83, 80, 82,0.1) 100%);
    --paragraphe-background :rgba(63, 60, 62, 0.4);
    --section-background :rgba(63, 60, 62, 0.8);
    --blend-mode : multiply;
    --box-shadow-theme : 0 0 10px 11px rgba(105, 116, 118, 0.84);
    --container-bg: rgba(255, 255, 255, 0.75);
    --container-shadow: 0 0 5px rgba(255, 255, 255, 0.25),
    5px 0 15px rgba(255, 255, 255, 0.1);
    --font-color: #F3F0F2;
    --inverted-font-color: #535052;
}

/* BODY */

html {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-blend-mode: var(--blend-mode);
    background-image: url("../img/background/main-background.jpg");
    background-color: var(--background);
    background-position: center top;
    background-size: cover;
    --trans-time-func: cubic-bezier(0.175, 0.885, 0.32, 1.075);
}

body {
    overflow: hidden;
}

/* DARK/LIGHT THEME BUTTON */

.toggle {
    grid-area: btn;
    place-self: center;
    position: relative;
    width: 35px;
    height: 35px;
}

.toggle input[type=checkbox] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.toggle input[type=checkbox]:checked + label {
    background: #363030;
    animation: rotate 400ms var(--trans-time-func);
    animation-delay: 250ms;
}
.toggle input[type=checkbox]:checked + label::after {
    background: var(--container-bg);
    transform: translate(35%, -30%);
    opacity: 1;
}

.toggle label.toggle-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms var(--trans-time-func);
    background: rgb(223, 212, 0);
    box-shadow: var(--box-shadow-theme);
    border: 1px solid #F3F0F2;
    overflow: hidden;
}

.toggle label.toggle-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: var(--container-bg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(72%, -72%);
    transition: all 250ms var(--trans-time-func);
    opacity: 0;
}

.toggle #text-for-checkbox {
    color: var(--font-color);
    width: 150px;
    position: relative;
    left: 60px;
    display: inline-block;
    text-transform: uppercase;
    top: 8px;
}

/* NAVIGATION */

.openMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 60px;
    cursor:pointer;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 8em;
    margin: 0 3%;
    color: var(--font-color);
    transition: 1s;
}

.openMenu span {
    position: relative;
    top: 29px;
    right: 50px;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    background: var(--sidebar-background);
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 80px;
}

.sideNav ul {
    list-style: none;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--font-color);
    letter-spacing: 4px;
    display: block;
    transition: 0.3s;
    font-weight: 200;
}

.sideNav a:hover {
    letter-spacing: 15px;
    transition: 0.5s;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    left: 1%;
    font-size: 6rem;
    margin: 20px 5px;
    font-family: 'Fredericka the Great', sans-serif;
}

.menu {
    margin: 80px auto;
    padding-left: 1%;
}

.socialmedia {
    position: absolute;
    bottom: 19%;
    left: 1%;
    padding-left: 10px;
}

.socialmedia .fa {
    padding-right: 20px;
    transition: 0.3s;
}

.socialmedia .fa:hover {
    padding-left: 10px;
    padding-right: 10px;
    left : 40px;
    transition: 1s;
}

#container {
    width: 260px;
    height: 160px;
    margin: auto;
    padding: 40px;
    position: absolute;
    left: 1%;
    bottom: 2%;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

/* FOOTER */

footer {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer p {
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 0.8rem;
    color: var(--font-color);
    text-shadow: 0 3px 15px rgba(243, 240, 242, 1);
}

/* PAGE D'ACCUEIL */

section {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

section .contenu {
    margin: 48vh auto 0 auto;
    transform: translateY(-50%);
}

section .contenu h1 {
    text-align: left;
    margin: 20px auto 0 3%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 5rem;
    font-weight: normal;
    color: var(--font-color);
    transition: 1s;
}

section .contenu p {
    background-color: var(--paragraphe-background);
    padding: 40px;
    text-align: right;
    letter-spacing: 1px;
    font-size: 1.3em;
    transition: 1s;
    color: var(--font-color);
}

section .contenu p img {
    float: right;
    width: 700px;
    position: relative;
    bottom: 280px;
    left: 50px;
    opacity: 80%;
}

/* ABOUT PAGE */

#about {
    width: 100vw;
    max-width: 2200px;
}

section .about-top {
    color: var(--font-color);
    width: 100%;
    height: 25vh;
    margin-top: 5vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1%;
    grid-template-areas:
            "about-tel about-name about-mail";
}

section .about-top #about-tel {
    grid-area: about-tel;
}

section .about-top #about-tel .icon {
    height: 150px;
    width: 150px;
    background-color: lightgray;
    display: inline-block;
}

section .about-top #about-name {
    grid-area: about-name;
}

section .about-top #about-tel p {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2.5em;
}

section .about-top #about-name h1 {
    margin-top: 30px;
    font-weight: 300;
    letter-spacing: 10px;
    font-size: 3.8em;
    text-transform: uppercase;
    background-color: var(--paragraphe-background);
    width: 100%;
}

section .about-top #about-name h3 {
    letter-spacing: 5px;
    font-size: 1.9em;
    font-weight: 300;
    text-transform: uppercase;
    background-color: var(--paragraphe-background);
    font-family: 'Permanent Marker', sans-serif;
    opacity: 80%;
}

section .about-top #about-name p {
    opacity: 80%;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.6em;
}

section .about-top #about-mail {
    grid-area: about-mail;
}

section .about-top #about-mail .icon {
    height: 150px;
    width: 150px;
    background-color: lightgrey;
    display: inline-block;
}

section .about-top #about-mail p {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2.5em;
}

section .about-middle {
    color: var(--font-color);
    width: 20vw;
    height: 200vh;
    margin-top: 5vh;
    text-align: center;
    transform: rotate(-90deg) translateX(-35vh) translateY(-5vw);
    transform-origin: top left;
    overflow-x: hidden;
    -ms-overlow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

section .about-middle .horizontal {
    display: flex;
    flex-direction: row;
    width: 240vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow-y: hidden;
}

section .about-middle .horizontal .slide {
    width: 60vw;
    padding: 50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: var(--font-color);
    background-color: var(--section-background);
    position: relative;
    right: 5vh;
    top: 60vh;
}
section .about-middle .horizontal .slide h3 {
    display: block;
    margin: 15px;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.4em;
    color: var(--font-color);
    letter-spacing: 3px;
}

section .about-middle .horizontal .one p {
    margin: 0 20%;
    text-align: justify;
    font-weight: 300;
}

section .about-middle .horizontal .two ul, section .about-middle .horizontal .four ul {
    list-style-type: none;
    margin: 30px 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    align-content: space-around;
}

section .about-middle .horizontal .two li, section .about-middle .horizontal .four li {
    flex: 0 0 auto;
    margin: 40px;
    width: 25%;
}

section .about-middle .horizontal .three ul {
    list-style-type: none;
    margin: 30px 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    align-content: space-around;
}

section .about-middle .horizontal .three li {
    flex: 0 0 auto;
    margin: 5px;
    width: 25%;
}

section .about-bottom {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
            "languages main-about-img interest";
}

section .about-bottom #languages {
    grid-area: languages;
    position: relative;
    left: 20%;
}

section .about-bottom div h3 {
    display: block;
    margin: 15px;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.9em;
    color: var(--font-color);
    letter-spacing: 3px;
}

section .about-bottom div ul {
    list-style-type: none;
    margin: 20px 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    align-content: space-around;
}

section .about-bottom div li {
    flex: 0 0 auto;
    margin: 25px;
    width: 25%;
    color: var(--font-color);
}

section .about-bottom #main-about-img {
    grid-area: main-about-img;
}

section .about-bottom #interest {
    grid-area: interest;
    position: relative;
    right: 20%;
}